# Python (Backend)
__pycache__/
*.py[cod]
*$py.class
.venv/
.env
.pytest_cache/

# React (Frontend)
node_modules/
dist/
build/
.eslintcache
npm-debug.log*
.env.local
.env.production.local

# Snapshots & Bundles
deploy_snapshot.txt
frontend_snapshot.txt
bundle.py
bundle_frontend.py

# IDE Settings
.vscode/
.DS_Store